

.header-nav{
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
}

.logo{
  color: blue;
}

.box{
  display: flex;
  display: inline-block;
  text-decoration: none;
  color: blue;
  margin-left: 20px;
}

a{
  color: blue;
  text-decoration: none;
}

.right-box{
  margin-left: auto;
  height: 700px;
  width: 800px;
}
.image{
  width: 100%;
}
.bule-box{
  background-color: blue;
  height: 200px;
  width: 700px;
}