

.header-nav{
  text-decoration: none;
  justify-content: space-between;
  display: flex;
  text-decoration: none;
  font-weight: bold;
  align-items: center;
}

.logo{
  color: blue;
}

.box{
  display: flex;
  display: inline-block;
  text-decoration: none;
  color: blue;
  margin-left: 20px;
}

a{
  color: blue;
  text-decoration: none;
}

.right-box{
  margin-left: auto;
  height: 700px;
  width: 750px;
  position: absolute;
  top: 150px;
  right: 0;
}

.image{
  width: 100%;
}

.text{
  position: relative;
  top: 350px;

  text-align: left;
  font-size: 60px
}
.blue-box{
  position: relative;
  top: 300px;
  left: 0;
  background-color: blue;
  margin-right: auto;
  height: 250px;
  width: 1000px;
}
