@charset "20230707_hino.css"

body{
  display: flex;
  position: relative;
}

div{
  display: flex;
  align-items: center;
  position: relative;
}

header{
  width: 100%;

  justify-content: space-between;

}

.header-ul{
  display: flex;

  list-style: none;
  position: relative;
}

a{
  text-decoration: none;
  color: blue;
  font-weight: bold;

}

li{
  margin-left: 40px;
  
}
.header-nav{
  margin-left: auto;

}

.box{
  margin-left: auto;
  height: 500px;
  width: 700px;

}

.relative{
  position: absolute;
  top: 800px;
  right: 500px;;
  background-color: blue;
}

.absolute{
  position: relative;
  top:100px;
  left: 800px;

}
